// .App {
//   background-color: #333;
//   width: 90%;
//   margin: 20px auto;
//   border-radius: 10px;
// }
.App {
  margin-top: -550px;
}
.section-title {
  width: 90%;
  margin: 30px auto -10px auto;
  text-align: center;
  h5 {
    font-size: 30px;
    margin: 0;
    color: white;
  }
}

.card-area {
  display: flex;
  flex-flow: row wrap;
}
.landing-info {
  margin: 0;
  padding: 0;

  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
