.about-me-area {
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 10px;
  color: #333;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 6px 24px -2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 6px 24px -2px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 6px 24px -2px rgba(0, 0, 0, 0.19);

  img {
    // width: 20%;
    // border-radius: 50%;
    // border: 5px solid #333;
    // display: block;
    // margin: auto;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: -80px auto 0 auto;
    display: block;
  }
  h1 {
    margin: 10px 0 5px 0;
  }
  h2 {
    margin: 0;
  }
  h4 {
    font-size: 30px;
    margin: 0;
  }
  .my-links {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a {
      width: 50px;
      height: 50px;
      background-color: whitesmoke;
      border-radius: 10px;
      svg {
        color: black;
        width: 50%;
        height: 100%;
      }
    }
  }
}

#twitter-link:hover {
  background-color: rgba(34, 193, 195, 1);
  background: linear-gradient(
    25deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(29, 161, 242, 1) 100%
  );
  svg {
    color: white;
  }
}
#linkedin-link:hover {
  background: rgb(34, 195, 162);
  background: linear-gradient(
    25deg,
    rgba(34, 195, 162, 1) 0%,
    rgba(14, 118, 168, 1) 100%
  );
  svg {
    color: white;
  }
}

#email-link:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    25deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  svg {
    color: white;
  }
}
#github-link:hover {
  background: rgb(33, 31, 31);
  background: linear-gradient(
    25deg,
    rgba(33, 31, 31, 1) 0%,
    rgba(244, 203, 178, 1) 50%,
    rgba(173, 92, 81, 1) 100%
  );
  svg {
    color: white;
  }
}

// @media only screen and (min-width: 600px) {
//   .about-me-area {
//     img {
//       width: 118px;
//     }
//   }
// }
